@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Roboto&display=swap');

/*------------------general-----------*/
p, h2, h3, span{
    color:#fafafa;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

h2 {
    text-align: center;
    padding: 20px;
}

section {
    height: 400px;
}

i {
    text-align: center;
    color: #029609;
    display: inline;
}

/*------------------navigation bar-----------*/

nav {
    background-color: #03045E;
    display: inline-block;
    width: 92%!important;
    padding-top: 0px;
    padding-right: 100px!important;
    margin: 0;
}

ul {
    float: right;
}

#logo {
    background-color: rgb(41, 41, 48);
    display: inline;
    text-align: center;
    padding: 5px 20px;
}

#logo a {
    color: #fafafa;
    font-size: 70px;
    letter-spacing: -15px;
    text-decoration: none!important;
}



ul li {
    font-family: "Baloo2", sans-serif;
    padding: 30px 50px;
    background-color: rgba(52, 214, 255, 0.2);
    text-align: center;
    height: 100px;
    margin: 0;
}

ul li span {
    text-decoration: none;
    font-size: 25px;
    color: #fafafa;
}


.hvr-box-shadow-outset {
    vertical-align: baseline!important;
}

/*------------------first section-----------*/
.top-section {
    background-image: url(../images/https://a4a2de7a-6471-46d1-8124-6e849365be26.ws-eu01.gitpod.io/files/download/?id=bb67a526-2d8a-4951-bb11-c9cb0bc4d04e);
    background-repeat: no-repeat;
    background-color:rgb(0, 86, 133);
}

.bottom-section {
    background-image: url("..images/social-media.jpg");
    background-color:#343738;
}

#title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 5em;
    color: #fafafa;
}

.main-heading {
    padding: 30px;
}


/*------------------second section-----------*/

.stats {
    padding-top: 50px;
}

.stat-given {
    margin: auto;
    width: 100%;
    position: absolute;
    
}

/*------------------About me-----------*/

#my-photo {
    width: 70%;
    height: 70%%;
    padding-top: 50px;
}

.about-me {
    margin-top: 20px;
}

.offer {
    text-align: center;
}

.free-offer {
    text-transform: uppercase;
    color: #dddd06;
}

/*------------------Prices-----------*/

.price-box {
    height: 300px;
    width: 100%;
    margin: 10px;
    opacity: 0.8;
}

#bronze {
    background-color: #c57b35;
}

#silver {
    background-color: rgb(175, 172, 172);
}

#gold {
    background-color: rgb(226, 193, 4);
}

.price-text {
    color: #141414;
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
}

.price-details {
    margin-left: 20px;
    width: 300px;
    text-align: center;
}

/*------------------Footer-----------*/

.footer {
    color: black;
    font-size: 12px;
}