
/*-----------------general--------------------*/

/*set the default font and colour for the website*/
body {
    color:#fafafa;
    font-size: 100%;
    font-family: "Roboto", sans-serif;
}

.top-section .bottom-section {
    max-height: 900px;
}

.top-section {
    background-color:rgb(0, 86, 133);
}

.bottom-section {
    background-image: url("../images/social-media.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*if background image doesn't load*/
    background-color:#343738;
}

.sub-title {
    text-align: center;
    font-size: 40px;
    /*push content down*/
    padding: 40px 0px;
}

.h3-custom {
    padding: 40px 0px;
    text-align: center;
}

.general-writing {
    padding: 10px 0px 50px 0px;
}


/*----------------navbar-------------------*/

/*style the logo*/
.logo {
    background-color: #343738;
    text-align: center;
    padding: 5px 20px;
    height: 100%;
    color: #fafafa;
    font-size: 70px;
    letter-spacing: -15px;
    border-radius: 5px;
}

/*change the background colour of the navbar*/
.navbar-custom {
    background-color: #03045E;
    color: #fafafa;
}

/*change the li items*/
.nav-item-custom {
    font-family: "Baloo2", sans-serif;
    padding: 30px 50px;
    font-size: 150%;
    color: #fafafa;
}

/*change the colour of the collpasible menu*/
.collapse-custom {
    color: #fafafa;
}



/*----------------home-------------------*/

.title {
    text-align: center;
    font-size: 5em;
    padding-top: 30px;
    padding-bottom: 60px;
}

.stat-given {
    margin: auto;
    width: 100%;
    position: relative;
    text-align: center;
}

.stat-logo {
     border-radius: 50%;
     width: 200px;
     height: 200px;
     display: inline-block;
    /*leaves a gap between circles*/
     margin-bottom: 50px;
}

.stat-logo-one {
    border: 10px solid #03045E;
    background-color: rgba(224, 224, 6, 0.8);
}

.stat-logo-two {
    border: 10px solid #ffffffb9;
    background-color: rgba(209, 29, 29, 0.8);
}

.stat-logo-three {
    border: 10px solid #00f30cb9;
    background-color: rgba(0, 128, 0, 0.8);
}

.stat-logo-four {
    border: 10px solid #03045E;
    background-color: rgba(255, 170, 248, 0.8);
}

.stat-name {
    font-size: 20px;
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    /*positions words over the top of circle container*/
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin: 0 auto;
}

.stat-name-one {
    color: #141414;
/*pushes content into centre of container*/
    padding-top: 60px;
}

.stat-name-two {
    color: #fafafa;
/*pushes content into centre of container*/
    padding-top: 60px;
}

.stat-name-three {
    color: #fafafa;
/*pushes content into centre of container*/
    padding-top: 25px;
}




/*----------------about me-------------------*/

.my-photo {
    max-width: 100%;
    padding-top: 50px;
}

.about-me {
    margin-top: 20px;
}

.testa-container {
    margin: 10px 5px;
    background-color: rgba(20, 20, 20, 0.8);
    border: 2px solid #141414;
}


/*----------------prices-------------------*/


.hashtag-image {
    width: 100%;
}


/*bronze, silver and gold boxes*/
.price-box {
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0px 20px 40px 20px;
    opacity: 0.8;
}

.bronze {
    background-color: rgba(197, 123, 52, 0.8);
    padding-bottom: 40px;
}

.silver {
    background-color: rgba(175, 172, 172, 0.8);
    padding-bottom: 40px;
    max-width: 100%;
}

.gold {
    background-color: rgba(226, 193, 4, 0.8);
    padding-bottom: 40px;
}

/*stop overflow of price boxes on mobile*/
.price-container {
    margin: 0px;
}

/*general rules for all text in the price boxes*/
.price-text {
    color: #141414;
    text-align: center;
    font-family: "Roboto", sans-serif;
    padding-bottom: 5px;
    padding-top: 10px;
}

/*text telling you what you get for your money needs a different margin*/
.price-details {
    margin-left: 20px;
}

/*colour of the font-awesome fonts*/
.price-tick {
    color: green;
}

/*leave a gap between 'Prices' and 'special offer'*/
.special {
    padding: 20px 0px;
    text-decoration: underline;
}

/*rules for the line with the offer*/
.offer {
    text-align: center;
    padding-top: 30px;
}

/*specifically the word 'free'*/
.free-offer {
    text-transform: uppercase;
    color: #dddd06;
}


/*------------------FAQ-----------*/



/*------------------Contact-----------*/

.input-custom {
    width: 70%;
}

/*likes image invisible on smaller screens*/
.likes-image-container {
    visibility: hidden;
    display: none;
}

.likes-image {

    max-width: 100%;
}

.contact-form {
    text-align: center;
    padding-bottom: 20px;
}

.message-box {
    height: 100px;
}

.label {
    color: #fafafa;
    font-family: "Roboto", sans-serif;
}

.submit-btn {
    color: #141414;
    background-color: #dddd06;
    border-radius: 5px;
    width: 190px;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #016901;
    color: #fafafa; 
}


/*----------------footer-------------------*/

.footer-custom {
     background-color: #01a4b9;
}

.footer-links {
    color: #fafafa;
    font-size: 15px;
    float: right;
    padding: 10px;
    text-decoration: none!important;
}

.footer-links:hover {
    color: #dddd06;
}



/*make likes image on contact page only appear on larger screens*/
@media only screen and (min-width: 1080px)
{
.likes-image-container {
    max-width: 100%;
    visibility: visible;
    display: block;
}

.input-custom {
    width: 30%;
}
}
