@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Roboto&display=swap');

/*------------------navigation bar-----------*/

nav {
    background-color: #051094;
    display: inline-block;
    width: 92%!important;
    padding-top: 0px;
    padding-right: 100px!important;
    margin: 0;
   /* position: fixed;*/
}

ul {
    float: right;
}

#logo {
    /*background-image: url("assets/images/asm.png");*/
    background-color: rgb(41, 41, 48);
    display: inline;
    text-align: center;
    padding: 5px 20px;
}

#logo a {
    color: #fafafa;
    font-size: 70px;
    letter-spacing: -15px;
    text-decoration: none!important;
}



ul li {
    font-family: "Baloo2", sans-serif;
    padding: 30px 50px;
    background-color: rgba(52, 214, 255, 0.2);
    text-align: center;
    height: 100px;
    margin: 0;
}

ul li span {
    text-decoration: none;
    font-size: 25px;
    color: #fafafa;
}


.hvr-box-shadow-outset {
    vertical-align: baseline!important;
}

/*------------------first section-----------*/
.top-section {
    background-image: url(../images/https://a4a2de7a-6471-46d1-8124-6e849365be26.ws-eu01.gitpod.io/files/download/?id=bb67a526-2d8a-4951-bb11-c9cb0bc4d04e);
    background-repeat: no-repeat;
    background-color:rgb(41, 41, 48);
    height: 400px;
}

#title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 5em;
    color: #fafafa;


}



