@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Roboto&display=swap');

/*------------------general-----------*/
p, h2, h3, span{
    color:#fafafa;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}

h2 {
    text-align: center;
    padding: 20px;
}

section {
    height: 400px;
}

section .sub-title {
    font-size: 40px;
} 


/*------------------navigation bar-----------*/

nav {
    background-color: #03045E;
    display: inline-block;
    width: 92%!important;
    padding-top: 0px;
    padding-right: 100px!important;
    margin: 0;
}

ul {
    float: right;
}

#logo {
    background-color: #343738;
    display: inline;
    text-align: center;
    padding: 5px 20px;
}

#logo a {
    color: #fafafa;
    font-size: 70px;
    letter-spacing: -15px;
    text-decoration: none;
}



ul li {
    font-family: "Baloo2", sans-serif;
    padding: 30px 50px;
    background-color: rgba(52, 214, 255, 0.2);
    text-align: center;
    height: 100px;
    margin: 0;
}

ul li span {
    text-decoration: none;
    font-size: 25px;
    color: #fafafa;
}


.hvr-box-shadow-outset {
    vertical-align: baseline;
}

/*------------------first section-----------*/
.top-section {
    background-color:rgb(0, 86, 133);
}

.bottom-section {
    background-image: url("../images/social-media.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /*if background image doesn't load*/
    background-color:#343738;
}

#title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 5em;
    color: #fafafa;
}

.main-heading {
    padding: 30px;
}


/*------------------second section-----------*/

.stats {
    padding-top: 50px;
}

.stat-given {
    margin: auto;
    width: 100%;
    position: absolute;
    
}

/*------------------About me-----------*/

#my-photo {
    width: 70%;
    height: 70%%;
    padding-top: 50px;
}

.about-me {
    margin-top: 20px;
}

.offer {
    text-align: center;
}

.free-offer {
    text-transform: uppercase;
    color: #dddd06;
}

.stats i {
    text-align: center;
    color: #dddd06;
    display: inline;
}
}

/*------------------Prices-----------*/

.price-box {
    height: 300px;
    width: 100%;
    margin: 10px;
    opacity: 0.8;
}

#bronze {
    background-color: rgba(197, 123, 52, 0.8);
    padding-bottom: 40px;
}

#silver {
    background-color: rgba(175, 172, 172, 0.8);
    margin: 0px 10px;
    padding-bottom: 40px;
}

#gold {
    background-color: rgba(226, 193, 4, 0.8);
    padding-bottom: 40px;
}

.price-text {
    color: #141414;
    text-align: center;
    margin: 0;
    padding-bottom: 5px;
}

.price-details {
    margin-left: 20px;
    width: 300px;
    text-align: center;
}


/*------------------Contact-----------*/

input {
    width: 300px;
}

.contact-form {
    text-align: center;
}

.message-box {
    height: 100px;
}

.label {
    color: #fafafa;
    font-family: "Roboto", sans-serif;
}

.submit-btn {
    color: #141414;
    background-color: #dddd06;
    border-radius: 5px;
    width: 190px;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #016901;
    color: #fafafa; 
}



/*------------------Footer-----------*/

footer {
    background-color: #007cbe;
    height: 50px;
}

.footer-links {
    color: #fafafa;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    float: right;
    padding: 10px;
    text-decoration: none!important;
}

.footer-links:hover {
    color: #dddd06;
}